@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

/* Minimal Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root{
  --color-main: hsl(152, 76%, 80%);
  --color-head: #059669;
  --color-footer: #065f46;
  --color-letter-dark: #0c0a09;
  --color-letter-mid: #4b5563;
  --color-letter-light: #fafafa;
  --color-letter-header: #fde047;
  --color-button-hover: #0a0a0a4b;
}

body{
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header{
  background-color: var(--color-head);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 10px;
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
  color: #fde047;
  -webkit-text-stroke: 3px var(--color-letter-dark);
}

header .logo{
  flex: none;
  width: 100px;
  margin: 0 15px;
  & svg{
    fill: var(--color-letter-header);
  }
}

main{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

.book{
  --book-color: var(--color-footer);
  --book-title-font: "Holtwood One SC", serif;
  --book-letter-color: var(--color-letter-dark);
  --book-letter-color-light: var(--color-letter-light);

  padding: 30px 15px;
  background-color: var(--book-color);
  border: 5px solid var(--color-letter-dark);
  border-radius: 8px;
  min-height: 250px;

  display: flex;
}

.book h1{
  font-family: var(--book-title-font);
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: var(--book-letter-color);
}

.book h1[class="vertical"]{
  text-orientation: mixed;
  writing-mode: vertical-rl;
  max-inline-size: 20ch;
}

.book .hide{
  display: none;
  min-width: 180px;
}

.book:hover{
  padding: 30px 0;
}

.book:hover h1[class="vertical"]{
  color: transparent;
  padding: 0;
  margin: 0;
}

.book:hover .hide{
  max-width: 350px;
  display: grid;
  padding-right: 3rem;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content minmax(80px, 1fr) min-content min-content;
  align-items: center;
  column-gap: 50px;
}

.book .hide h3{
  align-self: start;
}

.book .hide h1, .book .hide h3{
  grid-column: 1/3;
}

.book .hide h3[class="pages"]{
  grid-row: 3/5;
  grid-column: 1/2;
  align-self: end;
}

.book .hide label, .book .hide button{
  justify-self: end;
  align-self: end;
}

.book .delete-button{
  padding: 5px;
  background-color: transparent;
  border: none;

  display: grid;
  place-content: center;
  transition: 0.1s;
}

.book .delete-button:hover{
  transform: translateY(-8px);
}

.book .hide svg{
  fill: var(--color-letter-dark);
  width: 40px;
}

.book .completed-container{
  justify-self: start;
  padding: 10px 0;

  display: flex;
  gap: 5px;
  align-items: center;
  transition: 0.1s;
}

.book .completed-container input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--book-color);
  color: var(--color-letter-dark);
  margin: 0;
  width: 25px;
  height: 25px;
  border: 4px solid currentColor;
  border-radius: 5px;

  display: grid;
  place-content: center;
}

.book .completed-container:hover{
  transform: translateY(-8px);
}

.book .completed-container input[type="checkbox"]::before{
  content: "";
  width: 11px;
  height: 11px;
  transform: scale(0);
  border-radius: 1px;
  transition: 0.1s ease-in-out;
  background-color: var(--color-letter-header);
}

.book .completed-container input[type="checkbox"]:checked:before{
  transform: scale(1);
}

footer{
  background-color: var(--color-footer);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.addBook{
  margin: 8px;
  padding: 8px 30px;
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
  border: 5px solid var(--color-letter-dark);
  border-radius: 8px;
  background-color: var(--color-letter-header);
  color: var(--color-letter-dark);
}

.addBook:hover{
  color: var(--color-letter-header);
  background-color: var(--color-letter-dark);
}